.shop-tittle {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  min-width: 300px;
  height: 350px;
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.product:hover {
  transform: translateY(-10px);
}

.product img {
  min-width: 300px;
  height: 350px;
}

.description {
  text-align: center;
  font-size: 1.2rem;
}

.addtocartbttn {
  background-color: transparent;
  border: 2px solid #222;
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}
.addtocartbttn:hover {
  background-color: #222;
  color: #fff;
}

@media (max-width: 700px) {
  .shop-tittle {
    font-size: 20px;
  }

  .products {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  }

  .product {
    margin: 0px;
  }
  .product img {
    min-width: 200px;
    height: 175px;
  }

  .description {
    font-size: 1rem;
  }
}
